body {
    background-color: lightblue;
}
h1 {
    color: white;
    text-align: center;
}
txt {
    font-family: verdana;
    font-size: 20px;
}
li  {
    font-family: verdana;
    font-size: 20px;
}
