body {
    background-color: black;
}

h1 {
    font-family: verdana;
    color: white;
    text-align: center;
}

txt {
    font-family: verdana;
    font-size: 20px;
    text-align: center;
}

li  {
    font-family: verdana;
    font-size: 20px;
}


h2  {
    font-family: verdana;
    font-size:20px;
    text-align: center;
    color: lightgreen;
}

h3 {
    font-family: verdana;
    color: orange;
    text-align: center;
}

h4 {
    font-family: verdana;
    color: aqua;
    text-align: center;
}

table{
    color:greenyellow;
}

a:link {
    color: ghostwhite;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: lightskyblue;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: lightskyblue;
    background-color: transparent;
    text-decoration: underline;
}


